<nav>
    <a class="navbar-brand" href="#">Dashboard</a>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
            <!-- <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b> -->
            <span class="flag-icon flag-icon-{{lang}}"></span>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
            <a (click)="changeLang('en')" class="dropdown-item" href="javascript:void(0)">
                <span class="flag-icon flag-icon-gb"></span>{{ 'English' | translate }}
            </a>
            <a (click)="changeLang('es')" class="dropdown-item" href="javascript:void(0)">
                <span class="flag-icon flag-icon-es"></span>{{ 'Spanish' | translate }}
            </a>
            <a (click)="changeLang('fr')" class="dropdown-item" href="javascript:void(0)">
                <span class="flag-icon flag-icon-fr"></span>{{ 'French' | translate }}
            </a>
        </div>
    </li>
    <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
            <i class="fa fa-fw fa-user"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()"><i class="fa fa-fw fa-user"></i><span>{{'Profile' | translate}}</span></a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()"><i class="fa fa-fw fa-envelope"></i><span>Inbox</span></a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()"><i class="fa fa-fw fa-gear"></i><span>Settings</span></a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()"><i class="fa fa-fw fa-power-off"></i><span>Log out</span></a>
        </div>
      </li>
  </ul>
</nav>