@import "../../../../styles.scss";

:host {
  nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333333;

    .navbar-brand {
      margin-left: 45px;
      color: $link-nav-color;
    }

    .nav-tabs {
      border-bottom: none;

      .nav-link {
        border-color: transparent;
        &:hover,
        &:focus {
          border-color: transparent;
        }
      }

      .nav-item {
        .nav-link[ngbdropdowntoggle] {
          background-color: $background-color-primary;
          color: $link-nav-color;
          outline: 0;
          border: 0;

          &:hover {
            color: $link-nav-hover-color;
          }
        }

        .flag-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
