<div class="title"><h2>{{ title | translate}}</h2></div>
<form role="form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>{{ 'Data' | translate }}</legend>
        <div class="form-group">
            <label for="name">{{ 'Name' | translate }}</label>
            <input type="text" id="name" name="name" placeholder="{{ 'Name' | translate }}" class="form-control" formControlName="name" required />
        </div>
        <div class="form-group">
            <label for="username">{{ 'Employee name' | translate }}</label>
            <input type="text" id="username" name="username" placeholder="{{ 'Employee name' | translate }}" class="form-control" formControlName="username" />
        </div>
        <div class="form-group">
            <label for="email">{{ 'Email' | translate }}</label>
            <input type="email" id="email" name="email" placeholder="{{ 'Email' | translate }}" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
            <label for="phone">{{ 'Phone' | translate }}</label>
            <input type="text" id="phone" name="phone" placeholder="{{ 'Phone' | translate }}" class="form-control" formControlName="phone" />
        </div>
    </fieldset>
    <fieldset formGroupName="address">
        <legend>{{ 'Address' | translate }}</legend>
        <div class="form-group">
            <label for="street">{{ 'Street' | translate }}</label>
            <input type="text" id="street" name="street" placeholder="{{ 'Street' | translate }}" class="form-control" formControlName="street" />
        </div>
        <div class="form-group">
            <label for="suite">{{ 'Suite' | translate }}</label>
            <input type="text" id="suite" name="suite" placeholder="{{ 'Suite' | translate }}" class="form-control" formControlName="suite" />
        </div>
        <div class="form-group">
            <label for="city">{{ 'City' | translate }}</label>
            <input type="text" id="city" name="city" placeholder="{{ 'City' | translate }}" class="form-control" formControlName="city" />
        </div>
        <div class="form-group">
            <label for="zipcode">{{ 'Zip code' | translate }}</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="{{ 'Zip code' | translate }}" class="form-control" formControlName="zipcode" />
        </div>
    
    <fieldset formGroupName="geo">
        <legend>{{ 'Geolocalization' | translate }}</legend>
        <div class="form-group">
            <label for="lat">{{ 'Latitude' | translate }}</label>
            <input type="text" id="lat" name="lat" placeholder="{{ 'Latitude' | translate }}" class="form-control" formControlName="lat" />
        </div>
        <div class="form-group">
            <label for="lng">{{ 'Longitude' | translate }}</label>
            <input type="text" id="lng" name="lng" placeholder="{{ 'Longitude' | translate }}" class="form-control" formControlName="lng" />
        </div>
    </fieldset>
</fieldset>
    <fieldset formGroupName="company">
        <legend>{{ 'Company' | translate }}</legend>
        <div class="form-group">
            <label for="companyName">{{ 'Company name' | translate }}</label>
            <input type="text" id="companyName" name="companyName" placeholder="{{ 'Company name' | translate }}" class="form-control" formControlName="companyName" />
        </div>
        <div class="form-group">
            <label for="catchPhrase">{{ 'Catch phrase' | translate }}</label>
            <input type="text" id="catchPhrase" name="catchPhrase" placeholder="{{ 'Catch phrase' | translate }}" class="form-control" formControlName="catchPhrase" />
        </div>
        <div class="form-group">
            <label for="basicService">{{ 'Basic service' | translate }}</label>
            <input type="text" id="basicService" name="basicService" placeholder="{{ 'Basic service' | translate }}" class="form-control" formControlName="basicService" />
        </div>
        <div class="form-group">
            <label for="website">{{ 'Website' | translate }}</label>
            <input type="text" id="website" name="website" placeholder="{{ 'Website' | translate }}" class="form-control" formControlName="website" />
        </div>
    </fieldset>
    <div class="container-buttons">
        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">{{ 'Save' | translate }}</button>
    </div>
</form>
