/* You can add global styles to this file, and also import other style files */
/* variables */
$link-nav-color: #999999;
$link-nav-hover-color: #ffffff;
$link-nav-hover-color-reverse: #333333;
$link-nav-active-color: #ffffff;
$background-color-primary: #333333;
$background-color-dark: #000000;
$border-color: #333333;
$color-placeholder: #cccccc;

.section-title {
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
}

a.nav-link {
  color: $link-nav-color;
  //   outline: 0;

  &:hover {
    color: $link-nav-hover-color;
  }
}

.container-buttons {
  display: flex;
  justify-content: flex-end;
}

.required {
  margin-left: 3px;
}

*::placeholder {
  color: $color-placeholder;
}

// *:not(i) {
//   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
//     Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
//     "Segoe UI Emoji", "Segoe UI Symbol";
// }
